<div class="container px-4">
  <div class="login-card glass">
    <h3 class="text-center fs-5 mb-4">Login</h3>

    <form [formGroup]="loginForm" (ngSubmit)="onLogin()">
      <div class="mb-3">
        <label for="username" class="login form-label">Username</label>
        <input type="text" class="form-control" id="username" formControlName="username" placeholder="Enter your username or email">
        <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" class="text-danger">
          <small *ngIf="loginForm.get('username')?.errors?.['required']">Username or Email is required.</small>
          <small *ngIf="loginForm.get('username')?.errors?.['email']">Please enter a valid email.</small>
        </div>
      </div>

      <div class="mb-3">
        <label for="password" class="login form-label">Password</label>
        <input type="password" class="form-control" id="password" formControlName="password" placeholder="Enter your password">
        <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" class="text-danger">
          <small *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</small>
          <small *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters long.</small>
        </div>
      </div>

      <div class="d-flex justify-content-between align-items-center">
        <button type="submit" class="btn btn-outline-light" [disabled]="loginForm.invalid">Login</button>
        <!-- <a href="#" class="small">Forgot password?</a> -->
      </div>

      <div class="mt-3 text-center login">
        <span>Don't have an account? </span>
        <a routerLink="/register" class="small">Register here</a>
      </div>
    </form>
  </div>
</div>


