<div ngClass="overlay {{isLoading ? 'active' : ''}}" *ngIf="isLoading">
  <img src="assets/images/ezgif.com-speed.gif" alt="Loading..." class="loader-img">
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <img src="assets/images/rawncafelogo.png" alt="Logo" class="navbar-icon">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link fw-bold hover-text" routerLink="/dashboard">DASHBOARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold hover-text" routerLink="/menu">MENU</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold hover-text" [routerLink]="['/loyalty-card', authId]">MY LOYALTY CARD</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold hover-text disabled">GIFT CARDS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold hover-text disabled">DIY MY COFFEE</a>
        </li>
        <li class="nav-item">
          <a class="nav-link fw-bold hover-text disabled">PROMOS</a>
        </li>
      </ul>
      <form class="d-flex">
        <a *ngIf="isAuthenticated" (click)="logout()" class="nav-link fw-bold hover-text">Logout</a>
      </form>
    </div>
  </div>
</nav>

<div class="container mt-5">
  <router-outlet></router-outlet>
</div>

<footer class="footer bg-light text-center text-lg-start">
  <div class="container p-4">
    <div class="row">
      <!-- About Section -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">About Rawn Cafe</h5>
        <p>
          Experience the warmth of the finest coffee and a cozy ambiance. At Rawn Cafe, we craft unforgettable moments one cup at a time.
        </p>
      </div>

      <!-- Quick Links Section -->
      <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
        <h5 class="text-uppercase">Quick Links</h5>
        <ul class="list-unstyled">
          <li><a class="text-dark hover-text disabled" routerLink="/dashboard">Dashboard</a></li>
          <li><a class="text-dark hover-text disabled" routerLink="/menu">Menu</a></li>
          <li><a class="text-dark hover-text" [routerLink]="['/loyalty-card', authId]">My Loyalty Card</a></li>
        </ul>
      </div>

      <!-- Contact Section -->
      <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
        <h5 class="text-uppercase">Contact Us</h5>
        <p>Email: rawncafe@gmail.com</p>
        <p>Phone: +639956341884</p>
      </div>
    </div>
  </div>

  <div class="text-center p-3 bg-dark text-white">
    © 2025 Rawn Cafe | All Rights Reserved.
  </div>
</footer>
